name: Flutter Release APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - run: flutter doctor -v
      - run: flutter pub get
      - name: Create .env file
        run: |
          echo "GEMINI_API_KEY=AIzaSyCFWrcSXvSQmpi3vvsmIM9tKmzr340VmhM" >> .env
      - run: flutter analyze
      - run: flutter test
      - run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
